body {
    font-family: 'Segoe UI', Trebuchet, Arial, sans-serif;
    font-size: 13px;
}

#dropbox-browser {
    position: fixed;
    top: 0;
    left: 0;
    right: 200px;
    bottom: 0;
    overflow-y: scroll;
    overflow: auto;
    background: #fff;
}

    #dropbox-browser > h1 {
        font-size: 16px;
        font-weight: normal;
    }

    #dropbox-browser > ul {
        list-style-type: none;
        padding-left: 0;
    }

        #dropbox-browser > ul li {
            margin-right: 4px;
            margin-bottom: 4px;
            float: left;
            position: relative;
            width: 200px;
            height: 200px;
            background-position: center center;
            background-repeat: no-repeat;
            -moz-background-clip: content-box;
            -webkit-background-clip: content-box;
            background-clip: content-box;
            border: 4px solid transparent;
        }

            #dropbox-browser > ul li.wallpaper {
                -moz-background-size: cover;
                -o-background-size: cover;
                -webkit-background-size: cover;
                background-size: cover;
            }
            #dropbox-browser > ul li.nav-parent {
                background-image: url(images/arrow_up.png);
            }

            #dropbox-browser > ul li .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 200px;
                background-color: black;
                color: white;
                text-align: right;
                font-size: 12px;
                opacity: 0.6;
            }

            #dropbox-browser > ul li .overlay p {
                margin: 3px;
            }

#dropbox-properties {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background: #fafafa;
    color: grey;
    border-left: 1px solid #e0e0e0;
    padding-left: 15px;
}

    #dropbox-properties .thumbnail {
        width: 64px;height: 64px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 5px;
        clear: both;
    }

    #dropbox-properties .properties {
        
    }

        #dropbox-properties .properties .property {
            display: block;
            float: left;
            clear: both;
            margin: 5px;
        }

            #dropbox-properties .properties .property .propname {
                font-weight: bold;
                margin-right: 6px;
            }

            #dropbox-properties .properties .property .propvalue {

            }

.dropbox-item .icon {
    display: block;
    padding-left: 22px;
    background-position: left center;
    background-repeat: no-repeat;
    margin: 5px;
    text-decoration: none;
    min-height: 20px;
}

/* Stolen from TheAdmin.... */
.message-Information, .notifications {
    background:#e6f1c9; /* green */
    border:1px solid #cfe493;
    color:#062232;
}
.message-Warning {
    background:#fdf5bc; /* yellow */
    border:1px solid #ffea9b;
}
.message-Error {
    background: #e68585; /* red */
    border: 1px solid #990808;
    color: #fff;
}

button, .button, a.button {
    background: #6a7b42;
    border: 1px solid #487328;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 5px 14px 5px 14px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(40,53,9,.2) 0px 0px 1px;
    -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.2);
    -moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.2);
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.2);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ff9bb36c', endColorstr='#ff809f43');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(155, 179, 108, 1.0)), to(rgba(128, 159, 67, 1.0)));
    background: -moz-linear-gradient(top, rgba(155, 179, 108, 1.0), rgba(128, 159, 67, 1.0));
    background: -moz-linear-gradient(top, rgba(155, 179, 108, 1.0), rgba(133, 154, 93, 1.0));
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}